.venv/
__pycache__/
*.pyc
.ipynb_checkpoints
data/
outputs/
.env
.DS_Store
.vscode/
.idea/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.old
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.iml
*.sublime-project
*.sublime-workspace
*.tmproj
*.zed
